body{
    font-family:'Open Sans';
    background-image: linear-gradient(grey, fuchsia, 	teal);
    /* background-image: url(images/Beautifull\ House\ Wallpaper\ HD.jpg); */
}

.lead a{
    margin-top: 30px;
}

/* .btn-go{
    margin-right: 20px;
    border-radius: 10px;;
}  */